.TopLinks {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	margin: 0;
}

.ListLinks,
.ListLinks:visited {
	text-decoration: none;
	color: black;
}

.ListLinks:hover {
	color: green;
}

.LogInButton {
	display: flex;
}
